<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="MilbrandtFPDB.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="PdfSharp" publicKeyToken="f94615aa0424f9eb" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.50.4000.0" newVersion="1.50.4000.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="PdfSharp.Charting" publicKeyToken="f94615aa0424f9eb" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.50.4000.0" newVersion="1.50.4000.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
<userSettings>
        <MilbrandtFPDB.Properties.Settings>
                <setting name="MainSplitterPosition" serializeAs="String">
                        <value>Auto</value>
                </setting>
                <setting name="MainWindowHeight" serializeAs="String">
                        <value>750</value>
                </setting>
                <setting name="MainWindowWidth" serializeAs="String">
                        <value>1200</value>
                </setting>
                <setting name="MainWindowXPosition" serializeAs="String">
                        <value>100</value>
                </setting>
                <setting name="MainWindowYPosition" serializeAs="String">
                        <value>100</value>
                </setting>
                <setting name="MainWindowMaximized" serializeAs="String">
                        <value>False</value>
                </setting>
                <setting name="AEWizardSplitterPosition" serializeAs="String">
                        <value>400</value>
                </setting>
                <setting name="AEWizardHeight" serializeAs="String">
                        <value>600</value>
                </setting>
                <setting name="AEWizardWidth" serializeAs="String">
                        <value>800</value>
                </setting>
                <setting name="AEWizardXPosition" serializeAs="String">
                        <value>100</value>
                </setting>
                <setting name="AEWizardYPosition" serializeAs="String">
                        <value>100</value>
                </setting>
                <setting name="AEWizardMaximized" serializeAs="String">
                        <value>False</value>
                </setting>
                <setting name="SettingsWindowHeight" serializeAs="String">
                        <value>0</value>
                </setting>
                <setting name="SettingsWindowWidth" serializeAs="String">
                        <value>800</value>
                </setting>
                <setting name="SettingsWindowXPosition" serializeAs="String">
                        <value>100</value>
                </setting>
                <setting name="SettingsWindowYPosition" serializeAs="String">
                        <value>100</value>
                </setting>
                <setting name="SettingsWindowMaximized" serializeAs="String">
                        <value>False</value>
                </setting>
        </MilbrandtFPDB.Properties.Settings>
    </userSettings>
</configuration>